In [1]:
#importamos la libreria 
import pandas 
import numpy as np 

pandas.set_option('display.notebook_repr_html',False)

In [3]:
## Lee el archivo del disco.

x = pandas.read_csv('Tablas/iris.csv',
                   sep = ',',
                   thousands = None,
                   decimal = '.')

## Agrupamiento
Los dataframes de Pandas pueden ser intepretados en ocasiones como tablas de SQL en donde es posible realizar agregaciones y operaciones simples sobre los campos.

In [4]:
## Se agrupa el set de datos por una columna dada

x.sort_index(1, ascending = False).head()

  variety  sepal.width  sepal.length  petal.width  petal.length
0  Setosa          3.5           5.1          0.2           1.4
1  Setosa          3.0           4.9          0.2           1.4
2  Setosa          3.2           4.7          0.2           1.3
3  Setosa          3.1           4.6          0.2           1.5
4  Setosa          3.6           5.0          0.2           1.4

In [16]:
## ordena por varias columnas
## devuelve los indices de las filas
## ordena primero por Sepal.Width y luego por Sepal.Length
x.sort_values(by = ['sepal.width','sepal.length']).head(10)

     sepal.length  sepal.width  petal.length  petal.width     variety
60            5.0          2.0           3.5          1.0  Versicolor
62            6.0          2.2           4.0          1.0  Versicolor
119           6.0          2.2           5.0          1.5   Virginica
68            6.2          2.2           4.5          1.5  Versicolor
41            4.5          2.3           1.3          0.3      Setosa
93            5.0          2.3           3.3          1.0  Versicolor
53            5.5          2.3           4.0          1.3  Versicolor
87            6.3          2.3           4.4          1.3  Versicolor
57            4.9          2.4           3.3          1.0  Versicolor
80            5.5          2.4           3.8          1.1  Versicolor

La función groupby agrega los datos de una o varias columnas en valores únicos de dicho campo, generando subgrupos dentro de cada clase.

In [22]:
## partición por los valores de la columna `variety`
y = x.groupby('variety')
y.groups.keys()

dict_keys(['Setosa', 'Versicolor', 'Virginica'])

In [12]:
## Cantidad de grupos. Este comando funciona como un select distintc en SQL
## Arroja la cantidad de valores distintos.
len(y.groups)

3

In [14]:
## Cantidad de grupos. Funciona como un agrupamiento y 
##conteo por la columna variety en SQL.
y.size()

variety
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

In [25]:
## Elemento de un subgrupo agregado.
x.loc[y.groups['Setosa']].head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [27]:
## Elementos de otro subgrupo agregado 
x.loc[y.groups['Virginica']].head()

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica

## Agregación
Es posible realizar operaciones simples sobre las columnas o filas de un dataframe de Pandas. A continuación algunas de ellas:

       _______________________________________________________________
        |      Funciones que pueden ser aplicadas a un DataFrame      |
        ---------------------------------------------------------------
        |abs        all       any       clip    clip_lower  clip_upper|
        |corr       corrwith  count     cov     cummax      cummin    |
        |cumprod    cumsum    describe  diff    eval        kurt      |
        |mad        max       mean      median  min         mode      |
        |ct_change  prod      quantile  rank    round       sem       |
        |skew  sum  std       var`                                    |
        ---------------------------------------------------------------

In [31]:
## Se aplica la suma de cada columna para 
##cada especie. La salida es un nuevo dataframe.
x.groupby('variety').sum()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             250.3        171.4          73.1         12.3
Versicolor         296.8        138.5         213.0         66.3
Virginica          329.4        148.7         277.6        101.3

In [36]:
## Se selecionan solo para la medida sepal.length
(x.groupby('variety').sum())['sepal.length']

variety
Setosa        250.3
Versicolor    296.8
Virginica     329.4
Name: sepal.length, dtype: float64

In [38]:
## conteo de casos.
## número de casos por `variety`
x['variety'].value_counts()

Setosa        50
Virginica     50
Versicolor    50
Name: variety, dtype: int64

In [41]:
## conteo de casos por `sepal.length`
x['sepal.length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal.length, dtype: int64

In [46]:
## aplicación de una funcion a columnas especificas 
## de un data.frame
import numpy as np
x[['sepal.length','sepal.width']].apply(np.mean)  ## mean = Promedio o media

sepal.length    5.843333
sepal.width     3.057333
dtype: float64

In [48]:
## aplica la función a la columna especificada por grupos
(x.groupby('variety').mean())['sepal.length']

variety
Setosa        5.006
Versicolor    5.936
Virginica     6.588
Name: sepal.length, dtype: float64

In [49]:
## aplica la función a la columna especificada por grupos
(x.groupby('variety').mean())[['sepal.length',
                              'sepal.width',
                              'petal.length',
                              'petal.width']]

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [55]:
## UNION
z = pandas.concat([x.iloc[y.groups['Setosa']],
                  x.iloc[y.groups['Virginica']],
                  x.iloc[y.groups['Versicolor']]])
z['variety'].value_counts()

Setosa        50
Virginica     50
Versicolor    50
Name: variety, dtype: int64

## Pivotes
Los pivotes consisten en obtener varias columnas como index y operar a partir de las que permanecen dinámicas para apilarlas.

In [56]:
## Agrega una clave para identificar cada caso, es decir, cada registro
x['key'] = list(range(150))
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety  key
0           5.1          3.5           1.4          0.2  Setosa    0
1           4.9          3.0           1.4          0.2  Setosa    1
2           4.7          3.2           1.3          0.2  Setosa    2
3           4.6          3.1           1.5          0.2  Setosa    3
4           5.0          3.6           1.4          0.2  Setosa    4